body{
    color: green;
    background: URL(https://s1.eestatic.com/2021/01/13/ciencia/nutricion/550955761_170249592_1024x576.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    color: #02511e;
    text-align: center;
}
h1{color: red;}
#spanId {font-size: 18px;margin: 50px;}
.divClass {margin: auto;
;
}

img{
        width: 400px;
    }
#thirdDiv {
    height: 500px;
    width: 600px;
    background-color: burlywood;
    padding: 50px;
    border-style: double;
    border-color: cyan;
    margin: auto;
}
img {width: 400px;height: auto;}
